### ☕ Coffee Quality database from CQI ☕

These data contain reviews of 1312 arabica and 28 robusta coffee beans from the Coffee Quality Institute's trained reviewers.
https://www.kaggle.com/datasets/volpatto/coffee-quality-database-from-cqi

_______
Importando bibliotecas
_____

In [182]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

_______
Importando o dataset
___

In [183]:
df_coffee = pd.read_csv('merged_data_cleaned.csv')
df_coffee.shape

(1339, 44)

In [184]:
df_coffee.head(3)

,Unnamed: 0,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,...,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,0,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
1,1,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
2,2,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,...,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0

In [185]:
df_coffee.columns

Index(['Unnamed: 0', 'Species', 'Owner', 'Country.of.Origin', 'Farm.Name',
       'Lot.Number', 'Mill', 'ICO.Number', 'Company', 'Altitude', 'Region',
       'Producer', 'Number.of.Bags', 'Bag.Weight', 'In.Country.Partner',
       'Harvest.Year', 'Grading.Date', 'Owner.1', 'Variety',
       'Processing.Method', 'Aroma', 'Flavor', 'Aftertaste', 'Acidity', 'Body',
       'Balance', 'Uniformity', 'Clean.Cup', 'Sweetness', 'Cupper.Points',
       'Total.Cup.Points', 'Moisture', 'Category.One.Defects', 'Quakers',
       'Color', 'Category.Two.Defects', 'Expiration', 'Certification.Body',
       'Certification.Address', 'Certification.Contact', 'unit_of_measurement',
       'altitude_low_meters', 'altitude_high_meters', 'altitude_mean_meters'],
      dtype='object')

In [186]:
cols = [0,2,4,5,6,7,11,37,38,39]

df_coffee.drop(df_coffee.columns[cols], axis = 1, inplace = True)

In [187]:
df_coffee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1339 entries, 0 to 1338
Data columns (total 34 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Species               1339 non-null   object
 1   Country.of.Origin     1338 non-null   object
 2   Company               1130 non-null   object
 3   Altitude              1113 non-null   object
 4   Region                1280 non-null   object
 5   Number.of.Bags        1339 non-null   int64
 6   Bag.Weight            1339 non-null   object
 7   In.Country.Partner    1339 non-null   object
 8   Harvest.Year          1292 non-null   object
 9   Grading.Date          1339 non-null   object
 10  Owner.1               1332 non-null   object
 11  Variety               1113 non-null   object
 12  Processing.Method     1169 non-null   object
 13  Aroma                 1339 non-null   float64
 14  Flavor                1339 non-null   float64
 15  Aftertaste            1339 non-null   float64
 16  Acidity               1339 non-null   float64
 17  Body                  1339 non-null   float64
 18  Balance               1339 non-null   float64
 19  Uniformity            1339 non-null   float64
 20  Clean.Cup             1339 non-null   float64
 21  Sweetness             1339 non-null   float64
 22  Cupper.Points         1339 non-null   float64
 23  Total.Cup.Points      1339 non-null   float64
 24  Moisture              1339 non-null   float64
 25  Category.One.Defects  1339 non-null   int64
 26  Quakers               1338 non-null   float64
 27  Color                 1121 non-null   object
 28  Category.Two.Defects  1339 non-null   int64
 29  Expiration            1339 non-null   object
 30  unit_of_measurement   1339 non-null   object
 31  altitude_low_meters   1109 non-null   float64
 32  altitude_high_meters  1109 non-null   float64
 33  altitude_mean_meters  1109 non-null   float64
dtypes: float64(16), int64(3), object(15)
memory usage: 355.8+ KB

In [ ]:
df_coffee['Region'][df_coffee['Region'].isna() = 'Desconhecida'

In [232]:
#Dropando a linha em que o país era NaN 
df_coffee[df_coffee['Country.of.Origin'].isna()]
df_coffee.drop(1197, inplace = True)

Empty DataFrame
Columns: [Species, Country.of.Origin, Company, Altitude, Region, Number.of.Bags, Bag.Weight, In.Country.Partner, Harvest.Year, Grading.Date, Owner.1, Variety, Processing.Method, Aroma, Flavor, Aftertaste, Acidity, Body, Balance, Uniformity, Clean.Cup, Sweetness, Cupper.Points, Total.Cup.Points, Moisture, Category.One.Defects, Quakers, Color, Category.Two.Defects, Expiration, unit_of_measurement, altitude_low_meters, altitude_high_meters, altitude_mean_meters]
Index: []

[0 rows x 34 columns]

In [189]:
df_coffee.describe().round(3)
#Altitude maxima esta bem alta - outlier

,Number.of.Bags,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean.Cup,Sweetness,Cupper.Points,Total.Cup.Points,Moisture,Category.One.Defects,Quakers,Category.Two.Defects,altitude_low_meters,altitude_high_meters,altitude_mean_meters
count,1339.000,1339.000,1339.000,1339.000,1339.000,1339.000,1339.000,1339.000,1339.000,1339.000,1339.000,1339.000,1339.000,1339.000,1338.000,1339.000,1109.000,1109.000,1109.000
mean,154.183,7.567,7.520,7.401,7.536,7.517,7.518,9.835,9.835,9.857,7.503,82.090,0.088,0.479,0.173,3.556,1750.713,1799.348,1775.031
std,129.987,0.378,0.398,0.404,0.380,0.370,0.409,0.555,0.764,0.616,0.473,3.501,0.048,2.550,0.832,5.313,8669.441,8668.806,8668.626
min,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,1.000,1.000
25%,14.000,7.420,7.330,7.250,7.330,7.330,7.330,10.000,10.000,10.000,7.250,81.080,0.090,0.000,0.000,0.000,1100.000,1100.000,1100.000
50%,175.000,7.580,7.580,7.420,7.580,7.500,7.500,10.000,10.000,10.000,7.500,82.500,0.110,0.000,0.000,2.000,1310.640,1350.000,1310.640
75%,275.000,7.750,7.750,7.580,7.750,7.670,7.750,10.000,10.000,10.000,7.750,83.670,0.120,0.000,0.000,4.000,1600.000,1650.000,1600.000
max,1062.000,8.750,8.830,8.670,8.750,8.580,8.750,10.000,10.000,10.000,10.000,90.580,0.280,63.000,11.000,55.000,190164.000,190164.000,190164.000

____
Corrigindo altitudes
____

In [190]:
#Identificando países que tem altitudes muito elevadas
#Chega-se à conclusão que Brasil, Guatemala e Nicaragua tem altitudes que são bem elevadas e foram inseridas errado.
df_coffee.iloc[:,[1,31,32,33]].groupby('Country.of.Origin').max().round(2)

,altitude_low_meters,altitude_high_meters,altitude_mean_meters
Country.of.Origin,,,
Brazil,11000.00,11000.00,11000.00
Burundi,1880.00,1880.00,1880.00
China,1850.00,1850.00,1850.00
Colombia,2560.00,5900.00,3850.00
Costa Rica,1900.00,1900.00,1900.00
Cote d?Ivoire,200.00,200.00,200.00
Ecuador,800.00,800.00,800.00
El Salvador,1500.00,1500.00,1500.00
Ethiopia,2000.00,2200.00,2075.00
Guatemala,190164.00,190164.00,190164.00
Haiti,1280.16,1400.00,1280.16
Honduras,1650.00,1650.00,1650.00
India,3170.00,3170.00,3170.00
Indonesia,3500.00,3500.00,3500.00
Japan,170.00,170.00,170.00
Kenya,2000.00,2200.00,2000.00
Laos,1300.00,1300.00,1300.00
Malawi,2500.00,2500.00,2500.00
Mauritius,280.00,280.00,280.00
Mexico,1800.00,1800.00,1800.00
Myanmar,4287.00,4287.00,4287.00
Nicaragua,110000.00,110000.00,110000.00
Panama,1680.00,1680.00,1680.00
Papua New Guinea,1700.00,1700.00,1700.00
Peru,1400.00,1500.00,1400.00
Philippines,1600.00,1600.00,1600.00
Rwanda,1900.00,1900.00,1900.00
Taiwan,1300.00,1300.00,1300.00
"Tanzania, United Republic Of",2285.00,2285.00,2285.00
Thailand,1500.00,1500.00,1500.00
Uganda,1950.00,1950.00,1950.00
United States,3000.00,3000.00,3000.00
United States (Hawaii),609.60,609.60,609.60
United States (Puerto Rico),853.44,853.44,853.44
Vietnam,1550.00,1550.00,1550.00
Zambia,1000.00,1500.00,1250.00

In [191]:
df_coffee.loc[(df_coffee["Country.of.Origin"] == "Brazil") & (df_coffee["altitude_high_meters"] >= 2000)].iloc[:,[1,31,32,33]]
cols = ["altitude_low_meters","altitude_high_meters","altitude_mean_meters"]

for coluna in cols:
    df_coffee[coluna].loc[df_coffee[coluna] == 11000] = 1100

C:\Users\Fernanda\AppData\Local\Temp\ipykernel_20840\2272486413.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_coffee[coluna].loc[df_coffee[coluna] == 11000] = 1100

In [192]:
df_coffee.loc[(df_coffee["Country.of.Origin"] == "Nicaragua") & (df_coffee["altitude_high_meters"] >= 1000)].iloc[:,[1,31,32,33]]

for coluna in cols:
    df_coffee[coluna].loc[df_coffee[coluna] == 110000] = 1100

C:\Users\Fernanda\AppData\Local\Temp\ipykernel_20840\2275832622.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_coffee[coluna].loc[df_coffee[coluna] == 110000] = 1100

In [193]:
df_coffee.loc[(df_coffee["Country.of.Origin"] == "Guatemala") & (df_coffee["altitude_high_meters"] >= 2000)].iloc[:,[1,31,32,33]]

,Country.of.Origin,altitude_low_meters,altitude_high_meters,altitude_mean_meters
215,Guatemala,3280.0,3280.0,3280.0
419,Guatemala,2100.0,2100.0,2100.0
837,Guatemala,3280.0,3280.0,3280.0
896,Guatemala,190164.0,190164.0,190164.0
1001,Guatemala,3280.0,3280.0,3280.0
1144,Guatemala,190164.0,190164.0,190164.0

In [194]:
cols = ["altitude_low_meters","altitude_high_meters","altitude_mean_meters"]

for coluna in cols:
    df_coffee[coluna][(df_coffee[coluna] == 190164)] = df_coffee[coluna][df_coffee['Country.of.Origin'] == 'Guatemala'].mean().round(1)

C:\Users\Fernanda\AppData\Local\Temp\ipykernel_20840\224320500.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_coffee[coluna][(df_coffee[coluna] == 190164)] = df_coffee[coluna][df_coffee['Country.of.Origin'] == 'Guatemala'].mean().round(1)

In [195]:
#Identificando países com baixas altitudes
df_coffee.iloc[:,[1,31,32,33]].groupby('Country.of.Origin').min().round(2)

,altitude_low_meters,altitude_high_meters,altitude_mean_meters
Country.of.Origin,,,
Brazil,1.00,1.00,1.00
Burundi,1700.00,1700.00,1700.00
China,1100.00,1100.00,1100.00
Colombia,165.00,165.00,165.00
Costa Rica,13.00,13.00,13.00
Cote d?Ivoire,200.00,200.00,200.00
Ecuador,40.00,40.00,40.00
El Salvador,1200.00,1200.00,1200.00
Ethiopia,1097.28,1550.00,1493.52
Guatemala,157.89,157.89,157.89
Haiti,350.00,350.00,350.00
Honduras,1200.00,1200.00,1200.00
India,750.00,750.00,750.00
Indonesia,1200.00,1200.00,1200.00
Japan,170.00,170.00,170.00
Kenya,1.00,1.00,1.00
Laos,1250.00,1250.00,1250.00
Malawi,990.00,1000.00,995.00
Mauritius,280.00,280.00,280.00
Mexico,12.00,12.00,12.00
Myanmar,914.40,914.40,914.40
Nicaragua,700.00,900.00,900.00
Panama,1100.00,1100.00,1100.00
Papua New Guinea,1700.00,1700.00,1700.00
Peru,900.00,1400.00,1200.00
Philippines,1000.00,1000.00,1000.00
Rwanda,1900.00,1900.00,1900.00
Taiwan,50.00,50.00,50.00
"Tanzania, United Republic Of",100.00,168.00,168.00
Thailand,800.00,800.00,800.00
Uganda,900.00,1095.00,1095.00
United States,795.00,795.00,795.00
United States (Hawaii),426.72,426.72,426.72
United States (Puerto Rico),853.44,853.44,853.44
Vietnam,1040.00,1040.00,1040.00
Zambia,1000.00,1500.00,1250.00

In [196]:
df_coffee.loc[(df_coffee["Country.of.Origin"] == "Brazil") & (df_coffee["altitude_high_meters"] < 100)].iloc[:,[1,4,31,32,33]]

,Country.of.Origin,Region,altitude_low_meters,altitude_high_meters,altitude_mean_meters
41,Brazil,sul de minas - carmo de minas,12.0,12.0,12.0
42,Brazil,sul de minas - carmo de minas,12.0,12.0,12.0
279,Brazil,south of minas,1.0,1.0,1.0
481,Brazil,south of minas,1.0,1.0,1.0
613,Brazil,south of minas,1.0,1.0,1.0
683,Brazil,south of minas,1.0,1.0,1.0
737,Brazil,south of minas,1.0,1.0,1.0
761,Brazil,south of minas,1.0,1.0,1.0
780,Brazil,south of minas,1.0,1.0,1.0
838,Brazil,south of minas,1.0,1.0,1.0
839,Brazil,south of minas,1.0,1.0,1.0
877,Brazil,south of minas,1.0,1.0,1.0
963,Brazil,south of minas,1.0,1.0,1.0

In [197]:
cols = ["altitude_low_meters","altitude_high_meters","altitude_mean_meters"]

for coluna in cols:
    df_coffee[coluna].loc[(df_coffee["Country.of.Origin"] == "Brazil") & (df_coffee["Region"] == "sul de minas - carmo de minas")] =  1200
    df_coffee[coluna].loc[(df_coffee["Country.of.Origin"] == "Brazil") & (df_coffee["Region"] == "south of minas")] =  1000
    df_coffee[coluna].loc[(df_coffee["Country.of.Origin"] == "Brazil") & (df_coffee["Region"] == "sul de minas")] =  1250

C:\Users\Fernanda\AppData\Local\Temp\ipykernel_20840\2997328045.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_coffee[coluna].loc[(df_coffee["Country.of.Origin"] == "Brazil") & (df_coffee["Region"] == "sul de minas - carmo de minas")] =  1200
C:\Users\Fernanda\AppData\Local\Temp\ipykernel_20840\2997328045.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_coffee[coluna].loc[(df_coffee["Country.of.Origin"] == "Brazil") & (df_coffee["Region"] == "south of minas")] =  1000
C:\Users\Fernanda\AppData\Local\Temp\ipykernel_20840\2997328045.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_coffee[coluna].loc[(df_coffee["Country.of.Origin"] == "Brazil") & (df_coffee["Region"] == "sul de minas")] =  1250

In [198]:
df_coffee.loc[(df_coffee["Country.of.Origin"] == "Kenya")].iloc[:,[1,4,31,32,33]]
for coluna in cols:
    df_coffee[coluna].loc[(df_coffee["Country.of.Origin"] == "Kenya") & (df_coffee[coluna] < 600)] = df_coffee[coluna][df_coffee['Country.of.Origin'] == 'Kenya'].mean().round(1)

C:\Users\Fernanda\AppData\Local\Temp\ipykernel_20840\2122293221.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_coffee[coluna].loc[(df_coffee["Country.of.Origin"] == "Kenya") & (df_coffee[coluna] < 600)] = df_coffee[coluna][df_coffee['Country.of.Origin'] == 'Kenya'].mean().round(1)

In [199]:
for coluna in cols:
    df_coffee[coluna].loc[(df_coffee["Country.of.Origin"] == "Guatemala") & (df_coffee["Region"] == "el progreso")] =  1370
    df_coffee[coluna].loc[(df_coffee["Country.of.Origin"] == "Guatemala") & (df_coffee["Region"] == "oriente")] =  1370

C:\Users\Fernanda\AppData\Local\Temp\ipykernel_20840\1884834122.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_coffee[coluna].loc[(df_coffee["Country.of.Origin"] == "Guatemala") & (df_coffee["Region"] == "el progreso")] =  1370
C:\Users\Fernanda\AppData\Local\Temp\ipykernel_20840\1884834122.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_coffee[coluna].loc[(df_coffee["Country.of.Origin"] == "Guatemala") & (df_coffee["Region"] == "oriente")] =  1370

In [200]:
for coluna in cols:
    df_coffee[coluna].loc[(df_coffee["Country.of.Origin"] == "Mexico") & (df_coffee["altitude_low_meters"] == 100)] =  1000
    df_coffee[coluna].loc[(df_coffee["Country.of.Origin"] == "Mexico") & (df_coffee["Region"] == "amatenango de la frontera")] =  1600

C:\Users\Fernanda\AppData\Local\Temp\ipykernel_20840\2033207038.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_coffee[coluna].loc[(df_coffee["Country.of.Origin"] == "Mexico") & (df_coffee["altitude_low_meters"] == 100)] =  1000
C:\Users\Fernanda\AppData\Local\Temp\ipykernel_20840\2033207038.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_coffee[coluna].loc[(df_coffee["Country.of.Origin"] == "Mexico") & (df_coffee["Region"] == "amatenango de la frontera")] =  1600

In [201]:
for coluna in cols:
    df_coffee[coluna].loc[(df_coffee["Country.of.Origin"] == "Costa Rica") & (df_coffee["Region"] == "turrialba")] =  1300
    df_coffee[coluna].loc[(df_coffee["Country.of.Origin"] == "Costa Rica") & (df_coffee["altitude_low_meters"] == 185) & (df_coffee["Region"] == "tarrazu")] =  1850

C:\Users\Fernanda\AppData\Local\Temp\ipykernel_20840\257975226.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_coffee[coluna].loc[(df_coffee["Country.of.Origin"] == "Costa Rica") & (df_coffee["Region"] == "turrialba")] =  1300
C:\Users\Fernanda\AppData\Local\Temp\ipykernel_20840\257975226.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_coffee[coluna].loc[(df_coffee["Country.of.Origin"] == "Costa Rica") & (df_coffee["altitude_low_meters"] == 185) & (df_coffee["Region"] == "tarrazu")] =  1850

____
Substituindo valores Nan nas altitudes
___

In [233]:
df_coffee[(df_coffee['altitude_low_meters'].isna())]

Empty DataFrame
Columns: [Species, Country.of.Origin, Company, Altitude, Region, Number.of.Bags, Bag.Weight, In.Country.Partner, Harvest.Year, Grading.Date, Owner.1, Variety, Processing.Method, Aroma, Flavor, Aftertaste, Acidity, Body, Balance, Uniformity, Clean.Cup, Sweetness, Cupper.Points, Total.Cup.Points, Moisture, Category.One.Defects, Quakers, Color, Category.Two.Defects, Expiration, unit_of_measurement, altitude_low_meters, altitude_high_meters, altitude_mean_meters]
Index: []

[0 rows x 34 columns]

In [218]:
# Valores vazios foram substituídos pela média do país
paises = df_coffee['Country.of.Origin'].unique()
cols = ["altitude_low_meters","altitude_high_meters","altitude_mean_meters"]

for pais in paises:
        for coluna in cols:
                df_coffee[coluna][(df_coffee[coluna].isna()) & (df_coffee['Country.of.Origin'] == pais)] = df_coffee[coluna][(df_coffee['Country.of.Origin'] == pais)].mean()

C:\Users\Fernanda\AppData\Local\Temp\ipykernel_20840\2267334491.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_coffee[coluna][(df_coffee[coluna].isna()) & (df_coffee['Country.of.Origin'] == pais)] = df_coffee[coluna][(df_coffee['Country.of.Origin'] == pais)].mean()